.contacts-wrapper {
    padding: 2rem 5rem;
}

.contact-us {
    margin: 5rem 77rem;
    padding: 2rem 9rem;
    box-shadow: 0.2rem 1.1rem 2rem rgba(20, 20, 21, 0.07);
    border-radius: 5rem;
    border: 0.1rem solid rgba(1, 2, 2, 0.07);
    background-color: #fdfdfd;
    color: #000000;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 500;
}

.soc-nets {
    display: flex;
    padding: 2rem 67rem;
}

.mark {
    padding: 1.6rem 1rem;
    opacity: 0.6;
    color: #040404;
    font-family: "Open Sans";
    font-size: 1.7rem;
    font-weight: 400;
}

.fa-twitter-square {
    color: #979797be;
    margin: 0.7rem;
}