@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; 
    margin:2rem 3rem 3rem 8rem;
    padding: 3rem 4rem;
    background:rgb(255, 255, 255); 
    box-shadow:  0 0 3rem rgba(0,0,0,0.5);
 }

.form-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    color: #757575;
    margin: 1rem 3rem 1rem 12rem;
}

.feedback-input {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border-bottom:2px solid #757575;
  border-top:0px;
  border-right:0px;
  border-left:0px;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border-bottom:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  padding: 1rem 2rem;
    margin: 1rem 15rem 1rem 15rem;
  background:#dd3f00;
  border-radius:5rem;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  transition: all 0.3s;
  font-weight:700;
}
[type="submit"]:hover { background:#8a4e00; };