.units-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30rem;
    padding: 10rem 0rem 10rem;
}

.units {
    // box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 1rem 3.5rem;
}

.sides {
    box-shadow: 0 0 2px rgba(20, 20, 21, 0.6);
    background-color: #ff5c36;
}

.center {
    box-shadow: 0 0 49px rgba(20, 20, 21, 0.11);
    background-color: #fff3f0;
}

.button-wrapper {
    padding: 35rem 6rem 0rem 6rem;
}

.button {
    color: #000000;
    box-shadow: 1px 6px 16px rgba(7, 7, 7, 0.363);
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 500;
    border: 0px solid black;
    background: #ffffff;
    color: #616161c2;
    cursor: pointer;
    margin: 4rem 0rem 0rem 0rem;
    padding: 1rem 3rem 3rem 3rem;
}

.button-title {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    color: #616161c2;
    margin: -3rem 6rem 0rem 6rem;
    line-height: 2rem;
}

.cv-text {
    display: flex;
    flex-direction: column;
    margin: 20rem 10rem 4rem 10rem;
}

.cv-element {
    font-size: 1.3rem;
    font-family: "Open Sans";
    color: #616161;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem 2rem;
}

.bar-one {
    padding: 0.2rem 6rem 0.2rem;
    border-radius: 2px;
    background-color: #ff6f47c2;
}

.bar-two {
    padding: 0.2rem 1rem 0.2rem;
    background-color: #707070c2;
}

.author {
    opacity: 0.85;
    color: #202020c2;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    // margin: -2rem 1rem;
}

.title {
    font-size: 1.3rem;
    font-family: "Open Sans";
    color: rgba(255, 137, 101, 0.787);
    // margin: -4rem 1rem;
}

.fa-twitter,
.fa-facebook {
    color: #b4b4b4;
    margin: 1rem;
}